<html> 
  <head> 
  </head>
<body> 

  <div id="main_container" class="container" data-controller="hackday">
    <h1> Hackday: <%= @hackday.title %> </h1>
    <h2> these hacks belong to date: <%= @hackday.day %> </h2>
    <h2> votes left <div id="votes_left"><%= @votes_left %><div> </h2> 
    <% if @prev_hackday %>
      <%= link_to "Prevoius Day", hackday_path(@prev_hackday), { :class=>"btn btn-default" } %>
    <% end %>
    

    <% @hackday.hacks.each do |hack| %>
    <div style="border: 1px solid black;">
      <h1><%= link_to hack.title, hackday_hack_path(hack) %></h1>
      <h3> By <%= hack.owner %> </h3>
      <h3> url: <%= hack.hack_url %> </h3>
      <h3> votes: <div class="vote_holder"><%= hack.votes %><div> </h3>
      <button type="button" class="btn btn-default vote_button" data-vote-url=<%= hackday_hack_path(hack) %>>Vote for this Hack</button>
    </div>
    <% end %>

    <h1> add new hack </h1>
    <%= form_for :hack, url: hackday_hacks_path(@hackday) do |h| %>
      <% [:title, :img_url, :hack_url, :owner, :description].each do |attribute| %>
        <p>
          <%= h.label attribute %><br>
          <%= h.text_field attribute %>
        </p>
      <% end %>
    <p>
      <%= h.submit 'Create Hack' %>
    </p>
    <% end %>

  </div>
</body>
</html>
